<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Product Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">

    <h3 class="text-center mb-4">Product Details</h3>

    <form method="post" >
        {% csrf_token %}

        <div class="card p-4 shadow-sm" style="max-width:500px;margin:auto;">

            <!-- IMAGE -->
            <div class="text-center mb-3">
                <img src="{{ product.image.url }}"
                     class="img-fluid"
                     style="max-width:250px;">
            </div>

            <!-- NAME -->
            <div class="mb-3">
                <label class="form-label">Product Name</label>
                <input type="text" class="form-control"
                       value="{{ product.name }}" name="product_name" readonly>
            </div>

            <!-- PRICE -->
            <div class="mb-3">
                <label class="form-label">Price</label>
                <input type="text" class="form-control"
                       value="₹{{ product.price }}" name="price" readonly>
            </div>

            <!-- DESCRIPTION -->
            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea class="form-control" rows="4" name="description" readonly>{{ product.description }}</textarea>
            </div>

            <!-- CONFIRM -->
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success btn-lg">
                    Confirm
                </button>
            </div>

        </div>
    </form>

</div>

</body>
</html>
